$distance: 16px;
$bg: white;

.scaffold-container {
  font-size: 20px;

  .scaffold-query-container {
    padding: $distance;
    background-color: $bg;

    .main-container {
      display: flex;

      .forms {
        flex: 1;

        .row {
          .col {
            display: inline-flex;
            align-items: center;
            box-sizing: border-box;

            .label {
              width: 84px;
              display: inline-block;
              flex-shrink: 0;
              font-size: 14px;
            }

            .form-item {
              flex: 1;
              padding-right: 20px;
            }
          }
        }
      }
    }
  }
}
